@model AjaFood.Models.Food

@{
    ViewData["Title"] = "Edit";
}

@*<br />*@
<div class="container p-3">    
    <div class="row pt-4">
        <h1>Úprava receptu</h1>
        <div class="col-6">
            
        </div>        
    </div>
</div>
@*<br />*@
<form asp-action="Edit" enctype="multipart/form-data">
<div class="row">
    <div class="col-3">        
        @*<img src="/images/defaultImage.png" alt="Losos" style="height: auto; width: 100%; margin-top:10px;"> *@
        <img src="@("/Images/"+Model.ImageName)"  alt="Losos" style="height: auto; width: 100%; margin-top:10px;">         
        
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>   
    </div>
    <div class="col-6">
    @*<div class="col-md-4">        *@        
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <input type="hidden" asp-for="Id" />
           <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <label asp-for="FoodCategoryId" class="control-label"></label>
                <select asp-for="FoodCategoryId" class="form-control" asp-items="ViewBag.FoodCategoryId"></select>
                <span asp-validation-for="FoodCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group"style="margin-top:20px;">
                <label asp-for="Note" class="control-label"></label>                
                <textarea asp-for="Note" class="form-control" rows="7"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-3"> 
                    <label class="control-label">Živiny na 100g:</label>
                </div>
                
                <div class="col-2"> 
                    <label asp-for="Fats" class="control-label"></label>
                    <input asp-for="Fats" class="form-control" onchange="drawChart()" id="inputFats" style="width:100%;/>
                    <span asp-validation-for="Fats" class="text-danger"></span>
                </div>
                <div class="col-2"> 
                    <label asp-for="Carbohydrates" class="control-label"></label>
                    <input asp-for="Carbohydrates" class="form-control" onchange="drawChart()" id="inputCarbohydrates" style="width:100%;/>
                    <span asp-validation-for="Carbohydrates" class="text-danger"></span>
                </div>
                <div class="col-2"> 
                    <label asp-for="Proteins" class="control-label"></label>
                    <input asp-for="Proteins" class="form-control" onchange="drawChart()" id="inputProtein" style="width:100%;"/>
                    <span asp-validation-for="Proteins" class="text-danger"></span>
                </div>
            </div>    
            <br />
            <div class="text-center">                
                <button class="btn btn-primary" style="width:150px" asp-controller="Food" asp-action="Index">Zpět</button>                            
                <button type="submit" class="btn btn-success" style="width:150px">Uložit změnu</button>   
            </div>
        </form>           
    </div>
    <div class="col-3">
        <h2 style="text-align:center; margin-top: 10px;">Rozdělení živin</h2>
        <div 
            id="foodChart" style="width:100%; height:275px;">
        </div>

<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var fatsValue = parseFloat(document.getElementById("inputFats").value);        
        var carbohydratesFalue = parseFloat(document.getElementById("inputCarbohydrates").value);        
        var proteinsValue = parseFloat(document.getElementById("inputProtein").value);        
        
        var data = google.visualization.arrayToDataTable([
            ['Macronutrients', '%'],
            ['Tuky', fatsValue],
            ['Sacharidy', carbohydratesFalue],
            ['Bílkoviny', proteinsValue],            
        ]);

    var options = {    
    legend: 'GRAF',
    legend:{position: 'bottom'},
    pieHole: 0.35,
    chartArea: {
        left: '5%',
        right: '5%',
        top: '5%',
        width: '80%',
        height: '80%'
    }
    
    };

    var chart = new google.visualization.PieChart(document.getElementById('foodChart'));
        chart.draw(data, options);
     }
</script>
    </div>
</div>

