@model FoodCategory


@{
    ViewData["Title"] = "Vytváření kategorie";
}

@*<br />*@
<div class="container p-3">
    <div class="row pt-4">
        <div class="text-center">
            <h1>Vytvoření nové kategorie</h1>
        </div>
    </div>
</div>
<form asp-action="Create">
    <div class="row">
        <div class="col-0 col-md-4"></div>
        <div class="col-12 col-md-4 text-center">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName"></label>
                <input asp-for="CategoryName" /><br />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <br />
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" style="width:150px" asp-action="Index">Zpět</button>
        <button type="submit" class="btn btn-success" style="width:150px">Vytvořit kategorii</button>
    </div>
</form>
